.container {
  margin: 3%;
  border: 1px solid red;
  padding: 5%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, red -25%, #F8F8F8 10%);
}

.textArea {
  font-size: 100%;
}

.title {
  color: red;
  font-weight: bold;
  font-size: 120%;
}

.text {
  margin-bottom: 15%;
}

.author {
}

.date {
  font-weight: bold;
}
